<script type="text/javascript" src="/javascripts/utils.js"></script>
<script type="text/javascript" src="/javascripts/modal.js"></script>
<script type="text/javascript" src="/javascripts/readMore.js"></script>
<script type="text/javascript" src="/javascripts/sidebar.js"></script>
</body>

</html>