<div id="footer">
	<div class="footer-top">
		<div class="footer-info">
			<div class="footer-links">
				<a href="#">link1</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
			<div class="footer-links">
				<a href="#">link3</a>
			</div>
		</div>
		<div class="footer-contact">
			<div class="footer-contact-options">
				<span>Reach Us</span>
			</div>
			<div class="footer-contact-options">
				<span>Mail Us</span>
				<a href="#">xyz@yahoo.com</a>
			</div>
			<div class="footer-contact-options">
				<span>Call Us</span>
				<span id="call">7654439802</span>
			</div>
		</div>
	</div>
	<div class="footer-base">
		<span class="footer-T&C">
			2020 Critica Hospitality Ltd.
		</span>
		<a href="#">Terms & Conditions</a>
		<a href="#">Privacy Policy</a>
		<div class="footer-social">
			<ul>
				<li><a href="#"><span class="fab fa-facebook"></span></a></li>
				<li><a href="#"><span class="fab fa-twitter"></span></a></li>
				<li><a href="#"><span class="fab fa-instagram"></span></a></li>
				<li><a href="#"><span class="fab fa-youtube"></span></a></li>
			</ul>
		</div>
	</div>
</div>
</div>
<script type="text/javascript" src="/javascripts/sidebar.js"></script>
</body>

</html>