<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                        <p>Reach out to us via email/phone
                        We are available 24x7!</p>
                        <p class="f-title f_600 t_color f_size_18">+918897689923</p>
                        <p class="f-title f_600 t_color f_size_18">dummy@hotmail.com</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <ul class="list-unstyled f_list">
                            <li><a href="/">About</a></li>
                            <li><a href=<% currentUser?"/user/currentUser.id":"/login"%>>Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Connect with us!</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fab fa-facebook"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© 2021 All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Menu Toggle Script -->
<script type="text/javascript" src="/javascripts/utils.js"></script>
<script defer type="text/javascript" src="/javascripts/modal.js"></script>
<script type="text/javascript" src="/javascripts/readMore.js"></script>
<script type="text/javascript" src="/javascripts/GeoLocation.js"></script>
<script type="text/javascript" src="/javascripts/login.js"></script>
<script type="text/javascript" src="/javascripts/uploader.js"></script>
</body>

</html>