<!DOCTYPE html>
<html>

<head>
	<title>restaurant app</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/uploader.js"></script>
</head>

<body>

	<div id="mySidebar" class="sidebar">
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>

	<!-- <div id="main">
		<button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
		<h2>Collapsed Sidebar</h2>
		<p>Content...</p>
	</div> -->
	<div id="main">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<button class="openbtn" onclick="toggle()">&#9776;</button>
				<a class="navbar-brand" href="/">CRITICA</a>

				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home</a>
					</li>
					<form action="/results" method="GET" class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2 ml-lg-5" type="search" name="rest" placeholder="Enter Restaurant name">
						<input class="form-control mr-sm-2 ml-lg-5" type="search" name="city" placeholder="Enter Restaurant city">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</ul>
				<ul class="navbar-nav navbar-right">
					<% if(!currentUser){ %>
						<li>
							<a class="nav-link" href="/login">
								<span class="sr-only">(current)</span>login</a>
						</li>
						<li>
							<a class="nav-link" href="/register">Signup</a>
						</li>
						<% }else{ %>
							<li>
								<a class="nav-link" href="/user/<%=currentUser.id%>">
									Logged in as:
									<%= currentUser.username %>
								</a>
							</li>
							<li>
								<a class="nav-link" href="/logout">Logout</a>
							</li>
							<% } %>
				</ul>
			</div>

		</nav>