
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Filters</h4>
            </div>
              
                    <form action='/results/sorted' method='get'>
                    <div class='filter-radio-buttons'>
                    <input type="radio" name="filter" value="rating">
                    <label>Rating:high to low</label>
                </div>
                <div class='filter-radio-buttons'>
                    <input type="radio" name="filter" value="cost asc">
                    <label>Price:low to high</label>
                </div>
                <div class='filter-radio-buttons'>
                    <input type="radio" name="filter" value="cost">
                    <label>Price:high to low</label>
                </div>
                        <div class="filter-buttons">
                            <button class='btn btn-info'>Clear All</button>
                            <button class='btn btn-info'>Apply</button>
                        </div>
                        </form>
              
      </div>
    </div>
    </div>
    </div>
  