<script src="/javascripts/utils"></script>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header border-bottom-0">
		  <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <div class="form-title text-center">
			<h4>Share your review!</h4>
		  </div>
			<div class="share-icons">
                <div class="social">
                <i class="fab fa-twitter fa-2x" onClick= "socialShare('twitter')"> </i>
                <span>twitter</span>
                </div>
                <div class="social">
                <i class="fab fa-facebook fa-2x" onClick= " socialShare('facebook') " ></i>
                <span>facebook</span>
                </div>
                <div class="social">
                <i class="fas fa-envelope fa-2x" onClick= " socialShare('gmail') " ></i>
                <span>gmail</span>
                </div>
                <div class="social">
                <i class="fab fa-whatsapp fa-2x" onClick= " socialShare('whatsapp')" > </i>
                <span>whatsapp</span>
                </div>
                <div class="social">
                <i class="fab fa-reddit fa-2x" onclick= " socialShare('reddit')" ></i>
                <span>reddit</span>
                </div>
                <div class="social">
                <i class="fab fa-telegram fa-2x" onclick= " socialShare('telegram')" ></i>
                <span>telegram</span>
                </div>
                </div>
			
	</div>
	</div>
  </div>
  </div>
