<body>

    <div class="d-flex" id="wrapper">
  
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">What's up!! </div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">About us</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Contacts</a>
          <a href= <%= (currentUser)? `/user/${currentUser._id}`:"#" %> class="list-group-item list-group-item-action bg-light">Profile</a>
        </div>
      </div>