<%- include("partials/header") %>
	<div class="container">
		<div class="container-fluid">
			<h1>
				Welcome to the Restaurants review website!!
			</h1>

			<p>
				review and rate your favourite restaurants on the go!!!!!!
			</p>

			<h1 class="display-4">What we do</h1>
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est justo, sodales non ex vel, volutpat luctus ante. Aenean dictum, ligula in pulvinar eleifend, nibh lacus porttitor sapien, sed ornare lectus elit in dolor. Phasellus mattis elit id interdum
				finibus. Fusce eu ligula eu ligula cursus pharetra eget ac justo. Ut feugiat nulla nec rhoncus volutpat. Nunc finibus vestibulum nibh. Vivamus tortor diam, pretium eu scelerisque eu, tincidunt id est. Donec semper, sapien sed auctor scelerisque, leo
				lorem condimentum mauris, vitae finibus enim nulla quis massa. Morbi tellus lectus, placerat a enim sed, accumsan iaculis mauris. Fusce auctor facilisis consectetur. Nullam consectetur justo orci, non imperdiet augue interdum vel. Pellentesque eu
				odio ex. Aliquam sed nulla sed magna tristique malesuada ac eget turpis. Etiam iaculis facilisis lectus eu feugiat. Nunc ullamcorper placerat egestas. Sed consectetur mi id risus venenatis porta. Integer hendrerit in nibh ac rutrum.
			</p>

			<h1>
				SEARCH FOR Restaurants!!
			</h1>

			<div class="row">
				<div class="col-md-3">
					<div class="card bg-dark text-white">
						<img src="https://blog.sigmaphoto.com/wp-content/uploads/2019/07/cropped-pancakes.jpg" class="card-img">
						<div class="card-img-overlay">
							<h2 class="card-title">Card title</h2>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<p class="card-text">Last updated 3 mins ago</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	</div>

	<%- include("partials/footer") %>