<%-include("partials/header")%>
<%- include("./components/NavBar") %>

	<div class='form'>
		<h1>Sign Up</h1>
		<form action="/register" method="POST" enctype="multipart/form-data">
		<div class="group">      
			<input type="text" name="username" required  autocomplete="off">
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>username</label>
		</div>
	<div class="group">      
		<input type="password" name="password" required  autocomplete="off">
		<span class="highlight"></span>
		<span class="bar"></span>
		<label>password</label>
	</div>
	<div class="group">      
		<input type="text" name="firstName" required  autocomplete="off">
		<span class="highlight"></span>
		<span class="bar"></span>
		<label>firstName</label>
	</div>
	<div class="group">      
		<input type="text" name="lastName" required  autocomplete="off">
		<span class="highlight"></span>
		<span class="bar"></span>
		<label>lastName</label>
	</div>
	<div class="group">      
		<input type="email" name="email" required autocomplete="off">
		<span class="highlight"></span>
		<span class="bar"></span>
		<label>Email</label>
	</div>
	<div class="group">      
		<input type="number" name="contact" required autocomplete="off">
		<span class="highlight"></span>
		<span class="bar"></span>
		<label>Contact</label>
	</div>

	<div class='file-input group'>
		<input type='file' name="avatar"  autocomplete="off">
		<span class='button'>Choose</span>
		<span class='label' data-js-label>No file selected</label>
	  </div>

	<div class="group">
		<input class="btn btn-md" type="submit">
	</div>

</form>
</div>

<%-include("partials/footer")%>
