<div class="map_review">
	<div class='map-card'>
		<p><i class="fas fa-phone"></i><%= Restaurant.phone_numbers %></p>
		<strong>Direction</strong>
		<div id='map'></div>
		<p><%= Restaurant.location.address%></p>
		<button  id='directionBtn' class="btn btn-outline-danger">
		<i class="fas fa-directions"></i>direction
		</button>
	</div>
	</div>
